.counter {
    display: flex;
    justify-content: space-evenly;
}

.food {
    display: flex;
    justify-content: space-between;
    width: 33%;
}

.buttons {
    align-self: center;
}

.count {
    align-self: center;
}

h2 {
    color: white;
    background: dodgerblue;
    padding: 10px;
    width: 100%;
}